body {
    background-color: #484848;
    color: #ffffff;
    font-family: arial, sans-serif;
    font-size: 25px;
}

.good {
    color: #14c700;
}

.medium {
    color: #f0f000;
}

.bad {
    color: #f00000;
}

.good-data {
    color: #cdffbd;
}

header {
    padding: 5px;
    border-bottom: 2px solid #909090;
}

.title-header {
    line-height: 50px;
    font-size: 39px;
    font-family: 'Righteous', cursive;
}

.title-header > img {
    width: 40px; 
    background-color: #fff;
    border-radius: 5px;
}

nav {
    padding: 5px;
    padding-bottom: 10px;
    border-bottom: 2px solid #909090;
}

.submit-nav {
    padding: 5px;
    margin-right: 5px;
    outline: none;
    border: none;
    float: left;
    background-color: #343434;
    color: #ffffff;
    font-size: 19px;
    letter-spacing: 0.9px;

    -webkit-transition: background 0.2s ease-out;
    -moz-transition: background 0.2s ease-out;
    -ms-transition: background 0.2s ease-out;
    -o-transition: background 0.2s ease-out;
    transition: background 0.2s ease-out;
}

.submit-nav:hover {
    background-color: #F5792F;
    cursor: pointer;
}

article {
    float: left;
}

footer {
    clear: both;
    width: calc(100% - 40px);
    text-align: center;
    min-height: 100px;
    padding: 20px;
}

footer > p {
    padding: 8px;
    margin: 3px;
    background-color: #343434;
    border-radius: 7px;
}

footer > p > a {
    text-decoration:none;
    color: #00c703;
    padding: 2px;

    -webkit-transition: background 0.1s linear;
-moz-transition: background 0.1s linear;
-ms-transition: background 0.1s linear;
-o-transition: background 0.1s linear;
transition: background 0.1s linear;
}

footer > p > a:hover {
    background-color: #096800;
}

.left-article {
    width: 20%;
}

    .left-option {
        background-color: #343434;
        padding: 6px;
        margin: 6px;

        -webkit-transition: background 0.1s ease-out;
        -moz-transition: background 0.1s ease-out;
        -ms-transition: background 0.1s ease-out;
        -o-transition: background 0.1s ease-out;
        transition: background 0.1s ease-out;
    }

    .left-option:hover {
        background-color: #0066d3;
        cursor: pointer;
    }

    .left-option:active {
        background-color: #004b9c;
        cursor: pointer;
    }

    .left-option:first-child {
        margin-top: 10px;
    }

table {
    border-collapse: collapse;
    width: 100%;
    border: 5px solid #343434;
    margin: 10px 0 10px 0;
}
  
    td, th {
        text-align: left;
        padding: 8px;
    }
  
    tr:nth-child(even) {
        background-color: #6d6d6d;
    }

    thead {
        background-color: #343434;
    }

/*FORM DIALOG*/

.form-dialog {
    position: absolute;
    left: calc(50vw - 560px / 2);
    top: calc(50vh - 375px / 2);
    width: 560px;
    height: 375px;

    background-color: #545454;
    border-radius: 5px;

    -webkit-box-shadow: 5px 5px 10px 3px #252525;
    -moz-box-shadow: 5px 5px 10px 3px #252525;
    box-shadow: 5px 5px 10px 3px #252525;
}

    .form-header {
        border-radius: 5px 5px 0 0;
        padding: 2px;
        margin-bottom: 5px;
        height: 30px;
        background-color: #fff;
        color: #000000;
        font-family: 'Righteous', cursive;
        text-align: center;
    }

        .fh-exit {
            float: right;
            color: #f90000;

            -webkit-transition: transform 0.3s ease-in-out;
            -moz-transition: transform 0.3s ease-in-out;
            -ms-transition: transform 0.3s ease-in-out;
            -o-transition: transform 0.3s ease-in-out;
            transition: transform 0.3s ease-in-out;
        }

        .fh-exit:hover {
            transform: rotate(90deg);
            cursor: pointer;
        }

    .form-content {
        padding: 10px;
    }

    .form-content > form > p > input {
        float: right;
        margin-right: 5%;
        padding: 2px;
        font-size: 20px;
    }

    .fc-submit > input[type="submit"] {
        font-family: arial, sans-serif;
        padding: 10px 25px 10px 25px;
        letter-spacing: 1px;
        font-size: 22px;
        background-color: #FAE603;
        outline: none;
        border: none;
        border-radius: 4px;

        transition: border-radius .3s ease-in-out, background .2s ease-in-out;

    }

    .fc-submit > input[type="submit"]:hover {
        background-color: #b8fa03;
        border-radius: 20px;
        cursor: pointer;
    }

    .fc-submit {
        text-align: center;
    }

    .form-content > form > p > label {
        margin-left: 10%;
    }